p {
	
	color: black;
	padding: 3px 5px;
	margin-bottom: 10px;

	
	
	
}

body {
		font-family: Arial;
	
}

h1, h2 {

	color: green;
	font-weight: bold;
	
}
#main-header{
	background-color: #D1FAD2;
	padding: 10px;
	
}



a{
	color: darkgreen;
	text-decoration: none;
	font-weight: bold;
	
	
}

input{
	border-radius: 5px;
	border: 1px solid grey;
}

img.main-image{
	
	border: 2px solid #54C03F;

	border-radius: 5px;
	border-radius: 50%;
}

.cover {
	background-image: url("bunny.png");
	background-position: center;
	background-size: cover;
	min-height: 150px;
}